create table palis.dbo.travel_time
	(travel_key int primary key not null identity,
	 travel_label varchar(50) not null);

insert into palis.dbo.travel_time 
(travel_label) values ('0.25');
insert into palis.dbo.travel_time 
(travel_label) values ('0.5');
insert into palis.dbo.travel_time 
(travel_label) values ('0.75');
