create table palis.dbo.edu_hours
	(edu_key int primary key not null identity,
	 edu_label varchar(50) not null);

insert into palis.dbo.edu_hours 
(edu_label) values ('0.5');
insert into palis.dbo.edu_hours 
(edu_label) values ('0.75');
insert into palis.dbo.edu_hours 
(edu_label) values ('1.0');
