create table palis.dbo.patients_fact
	(patients_key int primary key not null identity,
	 first_name varchar(50) not null,
	 last_name varchar(50) not null,
	 birth date not null,
	 gender int not null,
	 provider int not null,
	 request_date date not null,
	 delivery_date date not null,
	 OHIP varchar(45) not null, 
	location int,
	diagnosis int,
	goals_of_care smallint,
	deceased_date date null,
	chemo_check int null,
	er_check int null,
	discharge_date date null,
	notes varchar(300) null);