<h1>Get Result Set (getFactData)</h1>
<h3>Example REST Request</h3>
http://www.servername.com/quickforms/getResultSet?app=example&queryLabel=getCarsByRating&amp;params=
<br /> Params should be a comma separated list of filters<br />
Ex. params=car=Audi,userId=4
<h3>Example Response</h3>
[{"id":1,"form":"test","Car Type":"Mazda","My Rating":"80%"},{"id":2,"form":"test","Car Type":"Volvo","My Rating":"90%"},{"id":3,"form":"test","Car Type":"Audi","My Rating":"40%"}]
<br />
<a href = "../../templates.html">Back</a>